/* Place CSS styles here */


/* IMAGE MODIFIERS */
.hero_image {
    background-image: url(../img/feast_hero_image.jpg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
}

.food_images {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: solid rgb(255, 255, 255) 5px;
    object-fit: cover;
}


/* TEXT MODIFIERS */
body {
  background-color: rgb(241, 241, 220);
  font-family: "Playfair Display", "Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

  h1 {
    margin: 25px;
    font-size: 40px;
    color: rgb(126, 21, 74);
    font-family: "Luckiest Guy", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h2{
    margin: 50px;
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: "Luckiest Guy", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    text-align:center;
    color:rgb(255, 255, 255);
    font-size: 27px;
  }


  p{
    color:rgb(255, 255, 255);
    padding-bottom: 75px;
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    text-align: center; 
    line-height: 1.5;
  }

  .background_reviews p { 
    color: rgb(0, 0, 0);
  }

  .background_reviews h3 {
    color: rgb(126, 21, 74);
    font-family: "Luckiest Guy", Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    padding-top: 30px;
  }

  a {
    color: rgb(96, 21, 126)
  }

  ul {
    text-align: center;
    list-style: none;
    color: rgb(255, 255, 255)
  }

  footer p {
    color: rgb(0, 0, 0)
  }


/* DIV MODIFIERS */

  .dish_container {
    display:flex;
    justify-content: center;
    gap: 150px;
  }

  .reviews_container {
    max-width:fit-content;
    margin-left:auto;
    margin-right: auto;

  }

  .headings_container {
    display: flex;
    align-items: center;
    justify-content: space-between
  }

  .page_2 {
    color: rgb(126, 21, 74);
    padding-bottom: 400px;
  }

/* LINK MODIFIERS */

  .header_links {
    text-align: right;
    font-size: 24px;
    padding-right: 30px;
  }

  .menu_link {
    text-align: center;
    font-size: 48px;
    padding-top:50px;
    padding-bottom: 75px;
  }

  a:hover {
    color:rgb(51, 139, 51)
  }

  .skip {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .skip:focus {
    opacity: 1;
  }

  /* BACKGROUND COLORS */

  .background_purple {
    background-color: rgb(126, 21, 74);
  }

  .background_blue {
    background-color: rgb(9, 125, 129);
  }

  .background_green {
    background-color: rgb(24, 146, 24);
    padding-bottom: 75px;
  }

  .background_reviews { 
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    width: 900px;
  }


  /* SECTION MODIFIERS */

  footer {
    padding-top: 75px;
  }